.HomeScreen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridFlexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shakeText {
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(0, -4px, 0);
  }

  20%, 80% {
    transform: translate3d(0, 4px, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(0, -4px, 0);
  }

  40%, 60% {
    transform: translate3d(0, -4px, 0);
  }
}
.expertText {
  font-size: 4.75rem; 
  font-family: 'VT323'
}
.newCeo {
  width: 100%;
  max-width: 350px;
}
@media only screen and (max-width: 600px) {
  .expertText {
    font-size: 3.75rem; 
    font-family: 'VT323'
  }
  .newCeo {
    width: 100%;
    max-width: 200px;
  }
}