.HomeScreen {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gridFlexCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shakeText {
  animation: shake 0.2s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-4px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.msFont {
  font-family: 'VT323';
  text-align: left;
}


.windowContent {
  width: '100%';
  max-width: 800;
}

.expertText {
  font-size: 4.75rem; 
  font-family: 'VT323'
}
.newCeo {

  max-width: 350px;
}

.projectswindow {
  width: 50vw;
  z-index: 0;
}

@media only screen and (max-width: 600px) {
  .expertText {
    font-size: 3.75rem; 
    font-family: 'VT323'
  }
  .newCeo {
    max-width: 250px;
  }
  .windowContent {
    width: '100%';
    max-width: 250px;
  }

  .projectswindow {
    width: 80vw;
  }
}

@media screen and (max-width: 320px) {
  .projectswindow {
    width: 90vw;
  }
}

.project {
  width: 100%;
  max-width: 350px;
  height: 15vh;
}

@media only screen and (max-width: 600px) {
  .projectswindow {
    width: 90vw;
  }

}

@media only screen and (min-width: 1024px) {
  .projectswindow {
    width: 40vh;
  }

}